table, th, td {
    border: 1px solid black;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .dummytable {
        background-color: lightblue;
    }

    .realtable {
        background-color: yellow;
    }

    h3 {
        font-family: cursive;
    }

    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .date {
        position:absolute;
        bottom:0;
        right:0;
    }
